/*------------------------------------*\
    ROOT
\*------------------------------------*/

html,
body {
    font-family: $font-regular;
    font-size: $base-font-size;
    font-weight: normal;
    font-style: normal;
    line-height: $base-font-line-height;
    letter-spacing: 2px;
}

html {    

}

body {
	background-color: $color-background-page;
    color: $color-text;
}



/*------------------------------------*\
    PAGE LAYOUT
\*------------------------------------*/

.wrapper {
    width: 100%;
    max-width: 920px;
    margin: auto;
}