.grid {
    margin-left: -$base-spacing-unit;
    margin-bottom: 0;

    list-style: none;
}

    .grid__item {
        width: 100%;
        padding-left: $base-spacing-unit;
        margin-bottom: $baseline;

        vertical-align: top;

        display: inline-block;
    }



.one-third {
    width: 33.33%;
}