/*------------------------------------*\
    BASES
\*------------------------------------*/


$base-font-family: 'Verdana, Helvetica, sans-serif';
$base-font-size: 14px;
$base-font-line-height: 1.5;
$base-line-height: $base-font-size * $base-font-line-height;

$base-spacing-unit: 12px;

$baseline: $base-line-height;


/*------------------------------------*\
    FONTS
\*------------------------------------*/

$font-regular: $base-font-family;

$h1-size:           4.5rem; // .alpha
$h2-size:           3.375rem; // .beta
$h3-size:           2.625rem; // .gamma
$h4-size:           1.5625rem; // .delta
$h5-size:           1.3125rem; // .epsilon
$h6-size:           1.125rem; // .zeta

$font-size-small: 0.875rem;




/*------------------------------------*\
    COLORS
\*------------------------------------*/

$color-background-page: #c3c3c3;
$color-text: #ddd;




/*------------------------------------*\
    TRANSITIONS
\*------------------------------------*/

$transition-time: 0.8s;
$transition-easing: ease-out;
$transition-delay: 0s;



/*------------------------------------*\
    NAV
\*------------------------------------*/






/*------------------------------------*\
    Z-INDEX
\*------------------------------------*/

